.grid-products {
  display: flex;
  flex-flow: wrap;
  .product-card {
    margin-right: 5%;
  }
  .product-card:nth-child(3n) {
    margin-right: 0;
  }
  .no-products {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    span {
      margin-bottom: 1rem;
    }
  }
}