

.row {
  display: flex;
  &.center-row { justify-content: center; }
}

.container {
  width: 86%;
  &.flex-container {
    display: flex;
  }
  .col-4 { width: 23%; }
  .col-8 { flex: 1; }
}

.rappicommerce-content {
  padding-top: 65px;
  padding-bottom: 65px;
  background-color: #f8f8f8;
  z-index: 0;
}

.banner {
  background-image: url("./banner_1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 20vh;
  padding-bottom: 20vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 65px;
}

.grid-products {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}

.card {
  text-decoration: none;
  color: black;
  &.product-card {
    width: 30%;
    border: 1px solid lighten(gray, 43%);
    background-color: white;
    position: relative;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 50px;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(245,245,245,1);
    -moz-box-shadow: 0px 5px 5px 0px rgba(245,245,245,1);
    box-shadow: 0px 5px 5px 0px rgba(245,245,245,1);
    .card-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 3% 10px 3%;

      .card-price {
        color: gray;
        font-weight: bold;
      }
    }
    .card-body {
      img {
        position: relative;
        display: block;
        width: 100%;
      }
    }
    .card-footer {
      padding: 10px 3% 10px 3%;
      text-align: center;
    }
  }
}


//.App {
//  text-align: center;
//}
//
//.App-logo {
//  animation: App-logo-spin infinite 20s linear;
//  height: 40vmin;
//  pointer-events: none;
//}
//
//.App-header {
//  background-color: #282c34;
//  min-height: 100vh;
//  display: flex;
//  flex-direction: column;
//  align-items: center;
//  justify-content: center;
//  font-size: calc(10px + 2vmin);
//  color: white;
//}
//
//.App-link {
//  color: #61dafb;
//}
//
//@keyframes App-logo-spin {
//  from {
//    transform: rotate(0deg);
//  }
//  to {
//    transform: rotate(360deg);
//  }
//}
